circle {
    z-index: 10;
}

#graph {
    clip-path: border-box;
}

#selection-button button {
    background-color: black;
    color: white;
    padding: 10px 30px;

}
#selection-button {
    display: flex;
    justify-content: center;
    margin: 10px;
    gap: 10px;
}

g {
    display: block;
    width: 13em;
}
#pop-up {
    border: 0.5px solid black;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.5);
    background-color: #F7F8FC;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

#pop-up #title {
    padding: 0 20px;
}
#pop-up #synopsis {
    margin: 0 10%;
}

 .material-symbols-outlined {
     font-variation-settings: 'FILL' 0,
     'wght' 400,
     'GRAD' 0,
     'opsz' 48
 }


