circle {
    z-index: 10;
}

#graph {
    clip-path: border-box;
}



g {
    display: block;
    width: 13em;
}



.tick line {
    opacity: 0.1;
}

#arrow-down{
    color: red;
}

#arrow-up{
    color: #00ff00;
}


