section {
    height: 100vh;
}

#title-section {
    background-color: #1F3C4A;
    display: flex;
    flex-direction: column;
    align-items: center;

}



#title-section img {
    margin-top: 10vh;
    width: 25vw;
}



#description-section {
    background-color: #798E93;
}




#graph-section {
    background-color: #DBD5C520;
}

#bottom-section {
    background-color: #1F3C4A;
}

.dot:hover {
    r: 10px;
    transition: all 0.5s ease;
}