@import "./section.css";
@import "./graph.css";
@import "./modal.css";
@import "./popup.css";
@import "./filter.css";
@import "./seasons.css";
@import "./observations.css";
@import "./fonts.css";

body {
    height: 100%;
    width: 100%;
    margin: 0;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#main-content {
    background: linear-gradient(#540505, #000000);
}